mixin video(info)
    div 
            
        a(href=`/video/${info.id}`) #{info.title}

        ul 
            li=info.rating
            li=info.comments
            li=info.createdAt
            li=info.views
