mixin video(info)
    div 
            
        a(href=`/video/${info.id}`) #{info.title}

        ul 
            li=info.description
            li=info.createAt
            li=info.hashtags
            li=info.meta.views
            li=info.meta.rating
