mixin video(info)
    div 
            
        a(href=`/video/${info.id}`) #{info.title}

        p=info.description

        ul
            each hashtags in info.hashtags
                li=hashtags
        
        

        small=info.createAt
        hr
        