doctype html
html(lang ="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=test
            h1=pageTitle
            nav 
                ul 
                    li
                        a(href="/") Home     
                    
                    if loggedIn
                        li
                            a(href="/logout") Logout
                        li 
                            a(href="/my-Profile") #{user.name}의 Profile
                            
                    else                            
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login                             

                    li
                        a(href="/video/upload") Upload Video
                    li
                        a(href="/search") Search    

                        
        main
            block contents 
        include partials/footer
        